<div class="home-wrapper" id="home">
    <div class="homeLayout">        
        <div class="homeImage">
            <div class="logoHome"></div>
            <div class="homeTextArea">
                <div class="squares">
                    <div class="square1"></div>
                    <div class="square2"></div>
                </div>
                <p class="homeText">“En Jobu te entrenamos para que aprendas a buscar empleo de la manera mas eficiente, <br> ponemos a tu alcance las herramientas para destacar en el mercado laboral desde <br> la elaboración de tu CV hasta la entrevista con un método personalizado”</p>
                <div class="squares">
                    <div class="square3"></div>
                    <div class="square4"></div>
                </div>
            </div>
        </div> 
    </div>
</div>
