<div class="about-wrapper" id="about">
    <div class="aboutTitle">            
        <div class="aboutTitleDecoration1">
            <div class="decoration1"></div>
            <div class="decoration2"></div>
        </div>
        <p>Quiénes Somos</p>
        <div class="aboutTitleDecoration2">
            <div class="decoration1"></div>
            <div class="decoration2"></div>
        </div>
    </div>
    <div style="display: flex;flex-direction: column; position: relative;justify-content: flex-start;align-items: center;height: auto;margin-top:5%;">
        <div class="loto1"></div>
        <div class="aboutTextArea">
            <div class="squares">
                <div class="square1 gold"></div>
                <div class="square2 gold"></div>
            </div>
            <p class="aboutText">“En Jobu/s trabajamos para entrenarte en tu búsqueda de empleo, con un método personalizado y online, nos adaptamos a las diferentes necesidades de nuestros clientes para ofrecer el entrenamiento perfecto que te haga llegar con éxito a tus objetivos laborales. <br> <br> Olvídate de plantillas online, en Jobu/ elaboramos un CV personalizado, cartas de presentación ajustadas a tus candidaturas, preparamos contigo tus entrevistas y elaboramos un plan de búsqueda efectivo. <br><br> No será fácil, hará falta esfuerzo, pero no estás solo”</p>
            <div class="squares">
                <div class="square3 gold"></div>
                <div class="square4 gold"></div>
            </div>
        </div>        
        <div class="loto2"></div>
    </div>
</div>