<div class="about-wrapper" id="about">
    <div class="textArea">
        <p>En Jobu/s trabajamos para entrenarte en tu búsqueda de empleo, con un método personalizado y online, nos adaptamos a las diferentes necesidades de nuestros clientes para ofrecer el entrenamiento perfecto que te haga llegar con éxito a tus objetivos laborales. Olvídate de plantillas online, en Jobu/ elaboramos un CV personalizado, cartas de presentación ajustadas a tus candidaturas, preparamos contigo tus entrevistas y elaboramos un plan de búsqueda efectivo. No será fácil, hará falta esfuerzo, pero no estás sólo</p>
    </div>
</div>