/* FONTS */
@font-face{
    font-family: "Bapakmu";
    src: url("fonts/Bapakmu.ttf");
}
@font-face{
    font-family: "Syke";
    src: url("fonts/Syke.ttf");
}
/* GENERAL */
*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    background: #85c4c3;
}
html {
    scroll-behavior: smooth;
}
img{
    border: 0;
    text-decoration: none;
    outline-style: none;
}
/* INFOLINE */
.infoLine{
    width: 100%;
    height: 3vh;
    background-color: black;
}
/* NAVBAR */
.navBar-wrapper{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
.logoLetras-wrapper{
    width: 30%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
}
.logoLetras{
    min-width: 200px;
    height: 100px;
    background-image: url('../img/LogoLetras.png');
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    cursor: pointer;
}
.navBar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.navBar ul{
    width: 80%;
    list-style-type: none;
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.navBar ul li{
    font-size: 22px;
    font-family: Syke;
    cursor: pointer;
}
.navBar ul li a{
    text-decoration: none;
    color:white;
    transition: all 500ms;
}
.navBar ul li a:hover{
    color: #85c4c3;
}
/* HOME */
.home-wrapper{
    width: 70%;
    height: 100vh;
    min-height: 800px;
    background-color: #85c4c3;
    display: flex;
    justify-content: center;
    margin: auto;    
    /* cmyk(55, 8, 30, 0) rgb(153, 195, 194) */
    /* color cajita texto: rgba(171, 222, 222, 0.15) #abdede cmyk(48, 0, 22, 0) */
}
.homeImage{
    width: 100%;
    height: 220vh;
    min-height: 1800px; 
    background-image: url('../img/FondoJunto.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.logoHome{
    width: 100%;
    height: 220px;
    background-image: url('../img/LogoHome.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 20px;
    left: 0;   
    animation: fadeinLogo 4s; 
}
@keyframes fadeinLogo {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.homeTextArea{
    position: absolute;
    width: 50%;
    min-height: 120px;
    height: auto;
    background-color: beige;
    top:215px;
    font-family: 'Syke';
    text-align: center;
    background-color: rgba(171, 222, 222, 0.3);
    animation: fadeinLogo 5s; 
}
.homeText{
    padding: 10px 0;
    font-size: 20px;
    /* font-weight: bold; */
}
.squares{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.square1, .square2, .square3,.square4{
    width: 20px;
    height: 20px;
    background-image: url('../img/BoxSquare.png');
    background-size: contain;
    background-position: center;
}
.square2{
    transform: rotate(90deg);
}
.square3{
    transform: rotate(-90deg);
}
.square4{
    transform: rotate(-180deg);
}
.gold{
    background-image: url('../img/BoxSquareGold.png');
}
/* ABOUT */
.about-wrapper{
    width: 100%;
    height:90vh;
    background-color: #85c4c3;
    margin-top: 210px;    
}
.aboutTitle{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.aboutTitle p{
    width: 300px;
    color: rgba(28,101,100, 1);
    -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
    font-size: 40px;
    font-weight: 100;
    font-family: 'Syke';
    text-align: center;
    margin: auto 0;
    z-index: 10;
}
.aboutTitleDecoration1{
    width: 30%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: 10px;
    z-index: 10;
}
.aboutTitleDecoration2{
    width: 30%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
    z-index: 10;
}
.decoration1{
    height: 3px;
    width: 75%;
    max-width: 500px;
    background: rgba(212, 236, 234, 0.6);
    margin-top: 15px;
    margin-bottom: 5px;
}
.decoration2{
    height: 6px;
    width: 75%;
    max-width: 500px;
    background: rgba(212, 236, 234, 0.6);
}
.aboutTextArea{
    width: 60%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.2);
    top:215px;
    font-family: 'Syke';
    text-align: center;
    margin-top:50px;
    z-index: 11;
}
.aboutText{
    padding: 10px 30px;
    font-size: 24px;
}
.loto1{
    width: 500px;
    height: 200px;
    background-image: url('../img/FlorLoto.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    position: absolute;
    top: -15%;
    left: 5%;
}
.loto2{
    width: 500px;
    height: 200px;
    background-image: url('../img/FlorLoto.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    position: absolute;
    bottom: -15%;
    right: 5%;
}
/* PLANNING */
.planning-wrapper{
    width: 100%;
    height: auto;
    min-height: 950px;
    background-color: #85c4c3;
    background-image: url('../img/FondoTuPlan.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.planningTitle{
    width: 100%;
    height: 50px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
.planningTitle p{
    width: 150px;
    color: rgba(28,101,100, 1);
    -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
    font-size: 40px;
    font-weight: 100;
    font-family: 'Syke';
    text-align: center;
    margin: auto 0;
    z-index: 10;
}
.planningList{
    width: 90%;
    height: 80%;
    background-color: transparent;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 15px;
}
.planning{
    width: 430px; 
    height: 400px;
    margin: 10px;
}
.plan1{
    background-image: url('../img/Paquete.PNG');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.plan2{
    background-image: url('../img/Paquete2.PNG');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.plan3{
    background-image: url('../img/Paquete3.PNG');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.plan4{
    background-image: url('../img/Paquete4.PNG');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.plan5{
    background-image: url('../img/Paquete5.PNG');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
/* CONTACT */
.contact-wrapper{
    width: 100%;
    height: auto;
    background-color: #85c4c3;
    /* background-image: url('../img/FondoTuPlan.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   */
}
.contactTitle{
    width: 100%;
    height: 50px;    
    display: flex;
    justify-content: center;
}
.contactTitle p{
    width: 180px;
    color: rgba(28,101,100, 1);
    -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
    font-size: 40px;
    font-weight: 100;
    font-family: 'Syke';
    text-align: center;
    margin: auto 0;
    z-index: 10;
}
.contactTextArea{
    width: 50%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.2);
    top:215px;
    font-family: 'Syke';
    text-align: center;
    margin: 0 auto;
    margin-top:50px;
    z-index: 11;
}
.contactTextArea p{
    color:black;
    font-size: 20px;
    font-family: 'Syke';
}
.contactBox{
    width: 100%;
    height: auto;
    /* background-image: url('../img/CajaContacto.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; */
}
/* FORMULARIO */
form{
    width: 50%;
    max-width: 450px;
    margin: 0 auto;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form p{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
}
form label{   
    margin-top:10px;
    margin-bottom: 5px;
    font-family: 'Syke';
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea{
    width: 80%;
    padding: 10px;
}

input[type="submit"]{
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
    color: white;
    background: rgba(53, 103, 164, 1);
    border: 2px solid rgb(70, 118, 160);
    cursor: pointer;
    border-radius: 10px;
}
input[type="submit"]:hover{
    background: rgba(53, 103, 164, 0.8);
}

input[disabled]{
    background: #ccc;
    opacity: 0.4;
    cursor:not-allowed;
    border:none;
}
textarea{
    height: 120px;
}

.formError{
    font-size: 14px;
    padding: 3px;
    background: red;
    color:white;
    margin-left: 5px;
}

.message{
    width: 40%;
    padding: 15px;
    border: 1px solid #eee;
}

.message a {
    color:white;

}

.succes{
    background: green;
    color:white;

}

.failed{
    background: red;
    color:white;
}

.confirm{
    display: block;
    font-weight: bold;
    margin-top: 15px;
}

/* FOOTER */
.footer-wrapper{
    width: 100%;
    height: 12vh;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footerLogo{
    min-width: 200px;
    height: 100px;
    background-image: url('../img/LogoLetras.png');
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
}
.footerInfoList{
    display: flex;
    justify-content: flex-end;
    width: 70%;
}
.footerInfo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icono{
    width: 50px;
    height: 50px;
}
.tfno{
    background-image: url('../img/Telefono.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.mail{
    background-image: url('../img/Correo.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 20px;
}
.linkd{
    background-image: url('../img/Linkedin.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 60px;
}
.ig{
    background-image: url('../img/Instagram.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 20px;
}
.footerInfo p{
    color:white;    
    font-size: 24px;
    margin: 0px 10px;
}
/* QUERY */
@media (max-width: 1300px) {
    /* ABOUT */
    .aboutTextArea{
        width: 80%;
    }
    .loto1{
        width: 300px;
        height: 80px;
        top: 0;
        left: 30px;
    }
    .loto2{
        width: 300px;
        height: 80px;
        bottom: 0;
        right: 30px;
    }
    /* PLANNING */
    .planning-wrapper{
        height: auto;
    }  
    /* CONTACTO */
    .contactTextArea p{
        font-size: 16px;
        margin-left: 20px;
    }
    /* FORM */
    form{
        width: 90%;        
    }
}
@media (max-width: 1020px) {
    /* PLANNING */
    .planning-wrapper{
        height: auto;
        padding-bottom: 30px;
    }
    .planningList{
        width: 90%;
        height: auto;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
    }     
    /* HOME   */
    .homeTextArea {
        width: 75%;        
    }     
    /* CONTACT */
    .contactTextArea{
        width: 70%;
    }    
    /* FOOTER */
    .footer-wrapper{
        height: auto;
        flex-direction: column;
        padding-bottom: 20px;
    } 
    .footerInfoList {
        width: 90%;
        justify-content: center;
        flex-wrap: wrap;
    }    
}
@media (max-width: 850px) {

    /* NAVBAR */
    .navBar-wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .navBar {
      width: 100%;
      padding-bottom: 0px;
      padding-left: 0px;
      justify-content: center;
    }
    .logoLetras-wrapper{
        width: 100%;
        justify-content: center;
        padding-left: 0;
    }
    .logoLetras{
        width: 180px;
        height: 60px;
        background-position: center;
    }
    .navBar ul{
        list-style-type: none;
        justify-content: space-around;
        align-items: center;
        padding-left: 0px;
        padding-bottom: 10px;
    }
    .navBar ul li{
        font-size: 1rem;
    }
    /* HOME */
    .logoHome{
        height: 100px;
    }
    .homeTextArea {
        width: 85%;
        top: 10%;
    } 
    .homeTextArea p {
        font-size: 20px;
    }
    /* ABOUT */
    .about-wrapper{
        margin-top: 0;
        min-height: 600px;
        max-height: 600px;
    }
    .aboutText{
        font-size: 18px;
    }
     /* PLANNING */
     .planning-wrapper{
        background-image: url('../img/FondoTuPlanLittle.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
     .planning-wrapper{
        height: auto;
    }      
    /* CONTACT */
    form label {
        font-size: 16px;
    }
    input[type="text"], input[type="number"], input[type="email"], textarea {        
        padding: 5px;
    }
    textarea{
        height: 80px;
    }
    /* CAMBIO IMAGEN   */
    .homeImage{
        background-image: url('../img/FondoJuntoLittle.png');
        background-size: auto;
        background-position: center;
        height: 180vh;
        min-height: 1400px;
    }
    .home-wrapper{
        min-height: 750px;
    }
    /* FOOTER */
    .footerInfo{
        width: 100%;
        margin: 10px 0;
    }
    .mail{
        margin-left: 10px;
    }
    .linkd{
        margin-left: 10px;
    }
    .ig{
        margin-left: 10px;
    }
  }

  @media (max-width: 550px) {

    /* NAVBAR */
    .navBar-wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .navBar ul{
        flex-wrap: wrap;
    }
    .textArea p{
        width: 50%;
        min-width: 150px;
    }
    /* HOME */
    .homeTextArea{
        top:10%;
    }
    /* ABOUT */
    .about-wrapper{
        height: 750px;
        max-height: 750px;
    }
    .aboutTitle p{
        font-size: 30px;
    }
    .decoration1{
        margin-top: 0px;
    }
    /* FORM */
    .contactTextArea{
        width: 95%;
    }
    form{
        width: 80%;
    }
  }