/* FONTS */
@font-face{
    font-family: "Bapakmu";
    src: url("fonts/Bapakmu.ttf");
}
@font-face{
    font-family: "Syke";
    src: url("fonts/Syke.ttf");
}
/* GENERAL */
*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
}
/* INFOLINE */
.infoLine{
    width: 100%;
    height: 3vh;
    background-color: black;
}
/* NAVBAR */
.navBar-wrapper{
    width: 100%;  

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
.logoLetras-wrapper{
    width: 30%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
}
.logoLetras{
    min-width: 200px;
    height: 100px;
    background-image: url('../img/LogoLetras.png');
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    cursor: pointer;
}
.navBar{
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: flex-end;   
}
.navBar ul{
    width: 80%;
    list-style-type: none;
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.navBar ul li{
    font-size: 22px;
    font-family: Syke;
    cursor: pointer;
}
.navBar ul li a{ 
    text-decoration: none;
    color:white;
    transition: all 300ms;
}
.navBar ul li a:hover{ 
    color: bisque;
}
/* HOME */
.home-wrapper{
    width: 100%;
    height: 100vh;
    background-color: beige;
}
/* ABOUT */
.about-wrapper{
    width: 100%;
    height: 100vh;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textArea{
    width: 30%;
    min-width: 450px;
    height: auto;
    background-color: white;
    margin: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-family: Syke;
}
.textArea p{
    color: black;
    font-size: 18px;
}
/* PLANNING */
.planning-wrapper{
    width: 100%;
    height: 100vh;
    background-color: burlywood;
}
.planningTitle{
    width: 100%;
    display: flex;
    justify-content: center;    
}
.planningTitle h1{
    color: black;
    padding-top: 20px;
}
.planningList{
    width: 70%;
    height: 80%;
    background-color: white;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
}
.planning{
    width: 25%;
    height: 200px;    
    min-width: 300px;
    background-color: aquamarine;
    margin: 10px;
}
/* CONTACT */
.contact-wrapper{
    width: 100%;
    height: 75vh;
    background-color: cornsilk;
}
/* FOOTER */
.footer-wrapper{
    width: 100%;
    height: 20vh;
    background-color: black;
}
/* QUERY */
@media (max-width: 920px) {
    /* PLANNING */
    .planning-wrapper{
        height: auto;
        padding-bottom: 30px;
    }
    .planningList{        
        width: 90%;
        height: auto;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
    }
}
@media (max-width: 850px) {

    /* NAVBAR */
    .navBar-wrapper{  
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .navBar {
      width: 100%;
      padding-bottom: 0px;
      padding-left: 0px; 
      justify-content: center;   
    }   
    .logoLetras-wrapper{
        width: 100%;
        justify-content: center;
        padding-left: 0;
    } 
    .logoLetras{
        width: 180px;
        height: 60px;
        background-position: center;
    }
    .navBar ul{
        list-style-type: none;
        justify-content: space-around;
        align-items: center;
        padding-left: 0px;
    }
    .navBar ul li{
        font-size: 1rem;
    }
    /* ABOUT */
    .textArea{
        width: 80%;
    }
    .textArea p{
        font-size: 16px;
        width: 90%;        
        min-width: 150px;
    }    
  }

  @media (max-width: 400px) {

    /* NAVBAR */
    .navBar-wrapper{  
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .navBar ul{
        flex-wrap: wrap;
    }
    .textArea p{
        width: 50%;        
        min-width: 150px;
    } 
  }